POSTGRES_DB=diasense
POSTGRES_USER=diasense
POSTGRES_PASSWORD=diasense
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

BACKEND_API_PORT=8000
FRONTEND_PORT=3000
MODEL_SERVER_PORT=5001
MLFLOW_TRACKING_PORT=5000
AIRFLOW_WEBSERVER_PORT=8080
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001

NEXT_PUBLIC_API_BASE_URL=http://backend-api:8000
MLFLOW_TRACKING_URI=http://mlflow-tracking:5000
MODEL_SERVER_URL=http://model-server:5001
BACKEND_API_URL=http://backend-api:8000
